body {
    margin: 0 auto;
    background-color: rgb(18, 23, 27);
    font-family: sans-serif;
    color: aliceblue;
}

div.header {
    text-align: center;
    font-size: 25px;
}

div.headertext {
    text-align: center;
    font-size: 15px;
}

#images {
    text-align: center;
}

div.season-selection {
    text-align: center;
    font-size: 20px;
}

div.button {
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}